
.icon-emo-coffee:before { content: '\e80b'; } /* '' */
.icon-googleplus:before { content: '\e80e'; } /* '' */
.icon-spin5:before { content: '\e803'; } /* '' */
.icon-spin6:before { content: '\e80c'; } /* '' */
.icon-thumbs-up:before { content: '\e801'; } /* '' */
.icon-rss-squared:before { content: '\e80d'; } /* '' */
.icon-angle-circled-left:before { content: '\e807'; } /* '' */
.icon-emo-beer:before { content: '\e805'; } /* '' */
.icon-weibo:before { content: '\e802'; } /* '' */
.icon-twitter:before { content: '\e804'; } /* '' */
.icon-github-circled:before { content: '\e808'; } /* '' */
.icon-gmail:before { content: '\e80a'; } /* '' */
.icon-github:before { content: '\e809'; } /* '' */
.icon-comment-alt:before { content: '\e800'; } /* '' */
.icon-angle-circled-right:before { content: '\e806'; } /* '' */